* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

.theme-dark {
    --top-bg-mobile: url(images/bg-mobile-dark.jpg);
    --top-bg-desktop: url(images/bg-desktop-dark.jpg);
    --body-bg: hsl(235, 21%, 11%);
    --btn-image: url(images/icon-sun.svg);
    --todo-bg: hsl(235, 24%, 19%);
    --color-empty: white;
    --color-task: hsl(234, 39%, 85%);
    --color-main: hsl(234, 11%, 52%);
    --border-color: hsl(233, 14%, 35%);
    --btn-active: hsl(220, 98%, 61%);
    --btn-hover: white;
}

.theme-light {
    --top-bg-mobile: url(images/bg-mobile-light.jpg);
    --top-bg-desktop: url(images/bg-desktop-light.jpg);
    --body-bg: hsl(260, 11%, 95%);
    --btn-image: url(images/icon-moon.svg);
    --todo-bg: rgb(255, 255, 255);
    --color-empty: hsl(235, 21%, 11%);
    --color-task: hsl(235, 19%, 35%);
    --color-main: hsl(236, 9%, 61%);
    --border-color: hsl(236, 33%, 92%);
    --btn-active: hsl(220, 98%, 61%);
    --btn-hover: hsl(235, 21%, 11%);
}

body {
    background-color: var(--body-bg);
    background-image: var(--top-bg-mobile);
    background-repeat: no-repeat;
    background-size: 100%;
}

header {
    padding-top: 10%;
    margin-bottom: 30px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 85%;
    max-width: 600px;
    margin: auto;
}

#header-title {
    font-size: 26px;
    color: white;
    letter-spacing: 0.6rem;
    align-self: center;
}

.btn-theme {
    background: var(--btn-image) no-repeat center/contain;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}

#todo-input {
    margin-top: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 8px;
}

main {
    height: auto;
    min-height: 500px;
    width: 85%;
    max-width: 600px;
    margin: auto;
}

#todo-tower {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

input[type="text"] {
    border: none;
    background: var(--todo-bg);
    color: var(--color-main);
    width: 100%;
    font-size: 16px;
}

input:active {
    border: none;
}

input:focus {
    outline: none;
}

::placeholder {
    color: var(--color-main);
}

.todo-line {
    position: relative;
    height: 60px;
    background-color: var(--todo-bg);
    display: flex;
    align-items: center;
    color: var(--color-main);
    transition-duration: 0.3s;
}

.complete-check {
    appearance: none;
    -webkit-appearance: none; 
    -ms-appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    margin-right: 2rem;
}

.complete-check::before{
    content: "";
    display: inline-block;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    height: 24px;
    width: 24px;
    border: 1px solid var(--color-main);
    position: absolute;
    top: 15px;
    left: 15px;
}

.complete-check::after{
    content: "";
    display: inline-block;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    height: 24px;
    width: 24px;
    border: none;
    position: absolute;
    top: 15px;
    left: 15px;
    border: 1px solid var(--color-main);
}

.complete-check:checked::after {
    background: no-repeat url(images/icon-check.svg) center/60%, linear-gradient(to bottom, #57ddff, #c058f3);
}

.delete-task {
    position: absolute;
    right: 20px;
    background: url(images/icon-cross.svg) no-repeat center/contain;
    width: 15px;
    height: 15px;
    border: none;
    cursor: pointer;
}

#tasks-empty {
    color: var(--color-empty);
    text-align: center;
    justify-content: center;
}

.tasks-container {
    background: blueviolet;
}

.todo-task {
    padding: 0 1rem;
    border-bottom: 1px solid var(--border-color);
    color: var(--color-task);
    position: relative;
    cursor: move;
}

.todo-task.dragging {
    opacity: 0.5;
}

.mobile-panel {
    display: none;
}

.desktop-panel {
    display: none;
}

.todo-status {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 0px 0px 8px 8px;
}

.todo-status > p {
    font-size: 16px;
}

.count {
    font-size: 16px;
}

.clear-completed {
    cursor: pointer;
}

.todo-options {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    border-radius: 8px;
}

.btn-options {
    color: var(--color-main);
    border: none;
    background: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.btn-options:hover {
    color: var(--btn-hover);
}

.btn-options.active {
    color: var(--btn-active);
}

#tip {
    color: var(--color-main);
    margin: 75px auto;
    text-align: center;
}

.attribution { 
    font-size: 14px; 
    text-align: center;
    color: var(--color-main);
    margin-bottom: 50px;
}

.attribution a { 
    font-size: 14px;
    color: hsl(228, 76%, 64%); 
}

@media screen and (min-width: 768px) {

    body {
        background-image: var(--top-bg-desktop);
        background-size: 100% 350px;
    }

    header {
        padding-top: 100px;
    }

    #header-title {
        font-size: 36px;
    }

    #todo-input {
        margin-top: 50px;
    }

    .header-content {
        max-width: 700px;
    }

    main {
        max-width: 700px;
    }

}